<%- include("./includes/header.ejs", {title: title}); %>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <a href="/company/all">Companies - View All</a>
    <br />
    <a href="/account/allAccounts">Accounts - View All</a>
    <br />
    <a href="/resume/allResumes">Resumes - View All</a>
    <br />
    <a href="/skills/allSkills">Skills - View All</a>
    <br />
    <a href="/address/allAddresses">Addresses - View All</a>
    <br />
    <a href="/school/allSchools">Schools - View All</a>
    <br />
<%- include("./includes/footer.ejs"); %>
